/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
nav {
	background-color: #ffffff;
	width: 100%;
	border-bottom: #303841 solid;
}
nav a {
	color: inherit;
	text-decoration: none;
}
nav .contact-link {
	background-color: #5c15ea;
	color: #ffffff;
}
nav a:hover {
	cursor: pointer;
	background-color: #5c15ea;
}
nav ul {
	list-style: none;
	display: flex;
	padding: 0 1em 0 0;
	justify-content: flex-end;
	color: #3bb5f7;
}
nav ul li {
	padding: 1em;
	font-size: 1.5em;
}

#about {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#about h1 {
	color: #0aa2f5;
	font-size: 2em;
}
#about p {
	color: #3bb5f7;
}

.aboutMe {
	width: 50%;
	margin: 0 1em;
}

#services {
	color: #ffffff;
	height: 41em;
	display: flex;
	justify-content: center;
	align-items: center;
}
#services h1 {
	border-right: #0aa2f5 solid;
	padding-right: 0.5em;
	height: 9em;
	display: flex;
	align-items: center;
	color: #0aa2f5;
	font-size: 2em;
}
#services ul {
	list-style: none;
	padding-left: 0.5em;
	color: #3bb5f7;
	font-size: 1.5em;
}

#projects {
	height: 36em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
#projects p {
	background-color: #0aa2f5;
	color: #ffffff;
}
#projects button {
	width: 150px;
	margin-bottom: 3em;
	background-color: #0aa2f5;
	color: #ffffff;
	border: none;
	border-radius: 1em;
}
#projects article {
	display: flex;
}
#projects h1 {
	text-align: center;
	color: #0aa2f5;
	text-decoration: underline;
	font-size: 2em;
}
#projects .article-image {
	width: 250px;
	height: 100%;
	margin: 0 0.5em;
}
#projects a {
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0.5em;
}

#contact {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #0aa2f5;
	color: #ffffff;
}
#contact hr {
	width: 100%;
}
#contact h1 {
	font-size: 2.5em;
}
#contact p {
	font-size: 1.5em;
}
#contact #contact-info {
	display: flex;
	font-size: 2em;
}
#contact #contact-info a {
	text-decoration: none;
	color: #ffffff;
	margin: 0.5em;
}

html {
	scroll-behavior: smooth;
}

header {
	width: 100%;
	position: relative;
	position: fixed;
}

main .avi {
	width: 200px;
	border-radius: 50%;
	border-right: #0aa2f5 solid;
}

footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	bottom: 0px;
	text-align: end;
}
footer a {
	margin: 0 0.5em;
	text-decoration: none;
	color: #3bb5f7;
} /*# sourceMappingURL=style.css.map */
